<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-4.2.xsd">


    <bean
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

        <property name="location">
            <value>auditorium.properties</value>
        </property>
    </bean>
    <bean class="com.epam.spring.core.service.impl.AuditoriumServiceImpl">
        <property name="auditoriums">
            <ref bean="auditoriums"></ref>
        </property>
    </bean>

    <util:set id="auditoriums" value-type="com.epam.spring.core.domain.Auditorium">
        <bean class="com.epam.spring.core..domain.Auditorium">
            <property name="name" value="${auditorium1.name}"></property>
            <property name="numberOfSeats" value="${auditorium1.numberOfSeats}"></property>
            <property name="vipSeats" value="#{'${auditorium1.vipSeats}'.split(',')}"></property>
        </bean>
        <bean class="com.epam.spring.core.domain.Auditorium">
            <property name="name" value="${auditorium2.name}"></property>
            <property name="numberOfSeats" value="${auditorium2.numberOfSeats}"></property>
            <property name="vipSeats" value="#{'${auditorium2.vipSeats}'.split(',')}"></property>
        </bean>
        <bean class="com.epam.spring.core.domain.Auditorium">
            <property name="name" value="${auditorium3.name}"></property>
            <property name="numberOfSeats" value="${auditorium3.numberOfSeats}"></property>
            <property name="vipSeats" value="#{'${auditorium3.vipSeats}'.split(',')}"></property>
        </bean>
    </util:set>

    <util:map id="eventMap" map-class="java.util.HashMap" key-type="java.lang.Long"
              value-type="com.epam.spring.core.domain.Event"/>
    <util:map id="userMap" map-class="java.util.HashMap" key-type="java.lang.Long"
              value-type="com.epam.spring.core.domain.User"/>
    <util:map id="ticketMap" map-class="java.util.HashMap" key-type="java.lang.Long"
              value-type="com.epam.spring.core.domain.Ticket"/>

    <bean name="eventDao" class="com.epam.spring.core.dao.impl.EventDaoImpl">
        <property name="events">
            <ref bean="eventMap"></ref>
        </property>
    </bean>
    <bean name="ticketDao" class="com.epam.spring.core.dao.impl.TicketDaoImpl">
        <property name="tickets">
            <ref bean="ticketMap"></ref>
        </property>
    </bean>
    <bean name="userDao" class="com.epam.spring.core.dao.impl.UserDaoImpl">
        <property name="users">
            <ref bean="userMap"></ref>
        </property>
    </bean>

    <bean class="com.epam.spring.core.service.impl.EventServiceImpl">
        <property name="eventDao">
            <ref bean="eventDao"></ref>
        </property>
    </bean>
    <bean class="com.epam.spring.core.service.impl.BookingServiceImpl">
        <property name="ticketDao">
            <ref bean="ticketDao"></ref>
        </property>
        <property name="discountService">
            <ref bean="discountService"></ref>
        </property>
    </bean>
    <bean class="com.epam.spring.core.service.impl.UserServiceImpl">
        <property name="userDao">
            <ref bean="userDao"></ref>
        </property>
    </bean>

    <import resource="discount.xml"></import>
</beans>